@import '../css/helpers/variables';

.appBar {
    z-index: $sider-zIndex + 1;
    transition-property: width, margin;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  };
.appBar div {
    min-height: $header-height;
}
.appBarShift {
    margin-left: $sider-width;
    width: calc(100% - #{$sider-width}) !important;
    transition-property: width, margin;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
